@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --base-font: var(--color-black);
  --base-100: var(--color-white);
  --base-150: var(--color-gray-50);
  --base-200: var(--color-gray-100);
  --base-300: var(--color-gray-200);
  --base-400: var(--color-gray-300);
  --base-500: var(--color-gray-400);

  /* --aside: #959694; */
  --aside: var(--color-gray-400);
  --primary: #df7126;
  --primary-selection: rgba(223, 113, 38, 0.25);

  --black: #080502;
}

.dark {
  --base-font: var(--color-white);
  --base-100: var(--color-gray-950);
  --base-150: var(--color-gray-900);
  --base-200: var(--color-gray-800);
  --base-300: var(--color-gray-700);
  --base-400: var(--color-gray-600);
  --base-500: var(--color-gray-500);

  /* --aside: #4e4f4e; */
  --aside: var(--color-gray-200);
  --primary: #ffa007;
  --primary-selection: rgba(223, 113, 38, 0.35);
}

@theme inline {
  --color-base-font: var(--base-font);
  --color-base-100: var(--base-100);
  --color-base-150: var(--base-150);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);

  --color-aside: var(--aside);
  --color-primary: var(--primary);
  --color-selection: var(--primary-selection);

  --color-black: var(--black);

  --animate-zoom: zoom 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  --animate-fade: fade 0.15s ease-out;

  @keyframes zoom {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.3;
    }
  }
}

body {
  accent-color: var(--color-primary);
}

body.dark {
  accent-color: var(--color-primary-dark);
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

@layer utilities {
  .btn {
    @apply flex cursor-pointer items-center gap-2 rounded-md px-2 py-1 transition-all;
    @apply hover:backdrop-brightness-95 dark:hover:backdrop-brightness-150;
    @apply aria-pressed:cursor-default aria-pressed:backdrop-brightness-95 dark:aria-pressed:backdrop-brightness-150;
    @apply disabled:cursor-default disabled:opacity-50 disabled:hover:backdrop-brightness-100;
    @apply aria-disabled:cursor-default aria-disabled:opacity-50 aria-disabled:hover:backdrop-brightness-100;
  }

  .btn-square {
    @apply justify-center p-2;
  }

  .btn.btn-outline {
    @apply border border-gray-500 text-black active:translate-y-0.5 dark:text-white;
  }

  .btn.btn-primary {
    @apply bg-primary border-primary border border-b-3 border-b-white/30 text-white hover:opacity-85 active:translate-y-0.5;
  }

  .btn.btn-primary.btn-outline {
    @apply text-primary border-primary border-b bg-transparent;
  }

  .text-link {
    @apply text-primary hover:underline;
  }

  .input {
    @apply w-full rounded-md border;
    @apply border-base-400 focus:border-primary focus:hover:border-primary bg-transparent;
    @apply px-3 py-2 text-sm transition duration-300 hover:border-gray-500 focus:shadow focus:outline-none;
    @apply placeholder-transparent placeholder:transition-all focus:placeholder-gray-400 [&:not(:placeholder-shown)]:placeholder-transparent;
    @apply disabled:opacity-65;
  }

  .label {
    @apply bg-base-100 dark:bg-base-200 absolute top-2 left-2 origin-left transform cursor-text px-1 text-sm transition-all select-none;
    @apply peer-placeholder-shown:top-2 peer-placeholder-shown:scale-100 peer-focus:-top-2 peer-focus:scale-90 peer-focus:text-black/80;
    @apply peer-[:not(:placeholder-shown)]:-top-2 peer-[:not(:placeholder-shown)]:scale-90 dark:peer-focus:text-white/80;
    @apply aria-disabled:opacity-65;
  }

  .card {
    @apply bg-base-100 dark:bg-base-200 border-base-400 cursor-pointer rounded-md border p-4;
    /*@apply transition-shadow hover:shadow-md dark:hover:shadow-none;*/
    @apply hover:border-base-500 transition-all duration-300;
  }

  .card.card-primary {
    @apply hover:border-primary hover:text-primary;
  }
}
