@import "./config.css";

.markdown-alert {
  @apply my-5 border-l-4 pl-4;
}

.markdown-alert > p:not(.markdown-alert-title) {
  @apply mt-0;
}

.markdown-alert > p.markdown-alert-title {
  @apply mt-0 mb-2 inline-flex items-center;
}

/* Note Alert */
.markdown-alert.markdown-alert-note {
  @apply border-blue-600;
}

.markdown-alert.markdown-alert-note > .markdown-alert-title {
  @apply font-bold text-blue-600;
}

/* Tip Alert */
.markdown-alert.markdown-alert-tip {
  @apply border-green-600;
}

.markdown-alert.markdown-alert-tip > .markdown-alert-title {
  @apply font-bold text-green-600;
}

/* Important Alert */
.markdown-alert.markdown-alert-important {
  @apply border-purple-600;
}

.markdown-alert.markdown-alert-important > .markdown-alert-title {
  @apply font-bold text-purple-600;
}

/* Warning Alert */
.markdown-alert.markdown-alert-warning {
  @apply border-yellow-600;
}

.markdown-alert.markdown-alert-warning > .markdown-alert-title {
  @apply font-bold text-yellow-600;
}

/* Caution Alert */
.markdown-alert.markdown-alert-caution {
  @apply border-red-600;
}

.markdown-alert.markdown-alert-caution > .markdown-alert-title {
  @apply font-bold text-red-600;
}

.markdown-alert > p.markdown-alert-title::before {
  content: "";
  @apply mr-2 inline-block size-5 bg-left bg-no-repeat;
}

/* Icons */
.markdown-alert.markdown-alert-note > p.markdown-alert-title::before {
  @apply bg-blue-600;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info-icon lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>');
}

.markdown-alert.markdown-alert-tip > p.markdown-alert-title::before {
  @apply bg-green-600;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lightbulb-icon lucide-lightbulb"><path d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5"/><path d="M9 18h6"/><path d="M10 22h4"/></svg>');
}

.markdown-alert.markdown-alert-important > p.markdown-alert-title::before {
  @apply bg-purple-600;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-megaphone-icon lucide-megaphone"><path d="m3 11 18-5v12L3 14v-3z"/><path d="M11.6 16.8a3 3 0 1 1-5.8-1.6"/></svg>');
}

.markdown-alert.markdown-alert-warning > p.markdown-alert-title::before {
  @apply bg-yellow-600;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert-icon lucide-triangle-alert"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg>');
}

.markdown-alert.markdown-alert-caution > p.markdown-alert-title::before {
  @apply bg-red-600;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-octagon-alert-icon lucide-octagon-alert"><path d="M12 16h.01"/><path d="M12 8v4"/><path d="M15.312 2a2 2 0 0 1 1.414.586l4.688 4.688A2 2 0 0 1 22 8.688v6.624a2 2 0 0 1-.586 1.414l-4.688 4.688a2 2 0 0 1-1.414.586H8.688a2 2 0 0 1-1.414-.586l-4.688-4.688A2 2 0 0 1 2 15.312V8.688a2 2 0 0 1 .586-1.414l4.688-4.688A2 2 0 0 1 8.688 2z"/></svg>');
}
