@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --base: oklch(1 0 0);
  --aside: #959694;
  --primary: #df7126;
  --color-primary: rgb(255, 160, 7);
  --color-selection: rgba(255, 160, 7, 0.75);
}

@theme inline {
  --color-base: var(--base);
  --color-aside: var(--aside);
  --color-primary: var(--primary);
  --color-selection: var(--aside);

  --animate-zoom: zoom 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  --animate-fade: fade 0.2s ease-out;

  @keyframes zoom {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@layer utilities {
  .btn {
    @apply cursor-pointer rounded-sm p-2 hover:bg-gray-200 disabled:cursor-default disabled:opacity-50 disabled:hover:bg-transparent aria-pressed:cursor-default aria-pressed:bg-gray-200;
  }
}

::selection {
  @apply bg-selection;
}

img.emoji {
  @apply m-0 inline-block h-5 cursor-text;
}

ul.task-list {
  @apply pl-2;
}

li.task-list-item {
  @apply list-none p-0;
}

li.task-list-item input {
  @apply mr-2;
  cursor: pointer;
}
