@import "tailwindcss";
@import "@fontsource/noto-color-emoji";
@plugin "@tailwindcss/typography";

@import "./styles/config.css";

body,
main {
  @apply dark:bg-base-150;
}

::selection {
  @apply bg-selection;
}

/*.cm-completionDetail,*/
.emoji {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  vertical-align: -0.2em;
  margin: 0 0.05em 0 0.1em;
}

ul.task-list {
  @apply pl-2;
}

li.task-list-item {
  @apply list-none p-0;
}

li.task-list-item input {
  @apply mr-2;
  cursor: pointer;
}

.splitpanes {
  @apply bg-base-100;
}

.splitpanes__splitter {
  @apply bg-base-300;
}

.splitpanes__splitter:before {
  @apply bg-base-400;
}
