@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --base: oklch(1 0 0);
  --aside: #959694;
  --color-primary: rgb(255, 160, 7);
  --color-selection: rgba(255, 160, 7, 0.75);
}

@theme inline {
  --color-base: var(--base);
  --color-aside: var(--aside);
  --color-primary: var(--aside);
  --color-selection: var(--aside);
}

@layer utilities {
  .btn {
    @apply cursor-pointer rounded p-2 hover:bg-gray-200 disabled:cursor-default disabled:opacity-50 disabled:hover:bg-transparent aria-pressed:cursor-default aria-pressed:bg-gray-200;
  }
}

::selection {
  @apply bg-selection;
}
